@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&family=Martel:wght@800&family=Space+Grotesk:wght@400;700&display=swap');
.navigation{
    
    background-color: #FFD55E;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
body{
   

    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    /* background-color: #FFD55E; */
    background-image: url(/Images/minions-g0ba91f239_1280.jpg);
    margin: 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
    
    
    
}
.navigation h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
   
}

.text-areas{
    display: block;
    width: 90%;
    height: 30%;
    margin: 2rem auto;
    border: 2px solid #FFD55E;
    border-radius: 1.5rem; 
    padding: 2rem;
    font-weight: bold;
   font-size: 16px;
   font-family: 'Space Grotesk', sans-serif;
   opacity: 0.8;
   resize: none;
   box-sizing: border-box;
   background-color: rgba(252, 232, 176, 0.623);
    
   
   
}
.text-areas::placeholder{
    color: rgba(0, 0, 0, 0.664);
    
}
.output-div{
   
    background-color: rgba(252, 232, 176, 0.562);
    font-family: 'Space Grotesk', sans-serif;
   color: black;
   font-weight: bold;
}
.output-div p{
    
    color: rgba(0, 0, 0, 0.664);
}

.text-areas:hover{
    border: solid 2px #0C457A;
    transition: 0.5s;
}



.footer{
    position: relative;
    bottom: 0%;
    background-color: #FFD55E;
    padding: 1.5rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.button{
    /* display: block; */
    margin: 0 auto;
    text-align: center;
    width: 10rem;
    height: max-content;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bolder;
    
    
   
}
#btn-translate{

    color: #0C457A;
    background-color: #FFD55E;

}
#btn-reset{
    color: #FFD55E;
    background-color: #0C457A;
}
.btn-container{

   text-align: center;
}

.footer-text{
    margin: 0 auto;
    max-width: 600px;
    font-weight: 600;
}